<template>
  <div class="home"></div>
</template>

<script>
export default {
  name: 'Home',

  components: {},

  data() {
    return {
      modelValue: { id: 1 },
      value: { id: 2 },
      value2: { id: 3 },
      questions: [],
    };
  },

  methods: {
    addQuestion() {
      this.questions.push({ id: Math.floor(Math.random() * 100) });
    },
  },
};
</script>
