<template>
  <label>
    <input type="checkbox" v-bind="inputAttrs" @change="handleChange" />
    {{ label }}
  </label>
</template>

<script>
export default {
  name: 'd-checkbox',

  inheritAttrs: false,

  props: {
    modelValue: {
      type: Array,
      default: null,
    },

    value: {
      type: Object,
      required: true,
    },

    label: {
      type: String,
      default: '',
    },
  },

  emits: ['update:modelValue'],

  computed: {
    shouldBeChecked() {
      if (this.modelValue === null) {
        return undefined;
      }

      return this.modelValue.includes(this.value);
    },

    inputAttrs() {
      return {
        ...this.$attrs,
        checked: this.shouldBeChecked,
      };
    },
  },

  methods: {
    handleChange(e) {
      if (this.modelValue === null) {
        this.$emit('update:modelValue', e.target.value);
        return;
      }

      const payload = this.modelValue.includes(this.value)
        ? this.modelValue.filter((x) => x !== this.value)
        : [...this.modelValue, this.value];

      this.$emit('update:modelValue', payload);
    },
  },
};
</script>
