<template>
  <label>
    <input
      ref="radio"
      type="radio"
      v-bind="$attrs"
      @change="$emit('update:modelValue', value)"
    />
    {{ label }}
  </label>
</template>

<script>
export default {
  name: 'd-radio',

  inheritAttrs: false,

  props: {
    modelValue: {
      type: Object,
      default: null,
    },

    value: {
      type: Object,
      required: true,
    },

    label: {
      type: String,
      default: '',
    },
  },

  emits: ['update:modelValue'],

  watch: {
    shouldBeChecked: {
      handler() {
        this.$refs.radio.checked = this.shouldBeChecked;
      },
    },
  },

  computed: {
    shouldBeChecked() {
      if (typeof this.modelValue === 'undefined') {
        return undefined;
      }

      return this.modelValue === this.value;
    },
  },

  async mounted() {
    await this.$nextTick();
    this.$refs.radio.checked = this.shouldBeChecked;
  },
};
</script>
