<template>
  <label>
    <slot />
    <input
      type="text"
      v-bind="inputProps"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    />
  </label>
</template>

<script>
export default {
  name: 'd-textbox',

  inheritAttrs: false,

  props: {
    modelValue: {
      type: String,
      default: '',
    },

    readonly: {
      type: Boolean,
    },

    disabled: {
      type: Boolean,
    },
  },

  emits: ['update:modelValue'],
  computed: {
    inputProps() {
      return {
        ...this.$attrs,
        disabled: this.disabled,
        readonly: this.readonly,
      };
    },
  },
};
</script>
